@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body {
    background-color: #85DCBA;
    font-family: Roboto;
}

h1{
    text-align: center;
}

label[for=uname],
label[for=pword] {
    color: rgb(0, 0, 0);
    text-align: start;
}

input[type=text],
input[type=password] {
    box-align: center;
    width: 50%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    color: black;
    background-color: #41B3A3;
    border-radius: 40px;
    font-family: Roboto;
}

.hero{
    background-color: #E27D60;
    padding: 10px 10px;
    border-radius: 20px;
}

::placeholder{
    color: #000000;
}

.container {
    max-width: 600px;
    margin:auto;
    position: relative;
    border-radius: 40px;
    flex: auto;
    box-sizing: border-box;
    margin-top: 150px;
    padding-top: 60px;
    padding-left: 170px;
    height: 300px;
    align-items: center;
    background-color: #E27D60;
    animation-duration: 2s;
    animation-iteration-count:infinite;
}



.signInBtn {
    font-size: 15px;
    margin-top: 10px;
    border-radius: 20px;
    font-family: Roboto;
    color: #000000;
    background-color: #E8A87C;
    padding: 10px 20px;
    border: #41B3A3;
    transition-duration: 0.4s;

}

.signInBtn :hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0.8;
}



.signUpBtn {
    font-size: 15px;
    margin-top: 10px;
    border-radius: 20px;
    font-family: Roboto;
    color: #000000;
    background-color: #E8A87C;
    padding: 10px 20px;
    border: #41B3A3;
    transition-duration: 0.4s;

}

.signUpBtn :hover {
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 20px;
    opacity: 0.8;
}

.bounce-3 {
    animation-name: bounce-3;
    animation-timing-function: ease;
}

@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-100px); }
    50%  { transform: translateY(0); }
    100% { transform: translateY(0); }
}


    @media (max-width: 800px) {
        .form-inline input {
          margin: 10px 0;
        }
        
        .form-inline {
          flex-direction: column;
          align-items: stretch;
        }
      }